
// For example:
$red: #FD1015;
$dark-pink: #FD1070;
$pink: #FF84B6;
// body of card
$light-pink: #FDBFD8;
$yellow: #FFD54D;
$orange: #FF970F;
// for the solid shadow on container
$pink-orange: #FE7661;
$light-green: #C7F0DB;
$green: #49BEB7;
$beige: #FEFBF5;
$grey: #2b4747;
