// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Amiko|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap');

// Define fonts for body and headers
$body-font: 'Red Hat Text', sans-serif;
$headers-font: 'Amiko', sans-serif, #464159;;
$my-font: 'Passion One', cursive;


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
