// Specific CSS for your home-page
  a{
    text-decoration: none !important;
  }
    a:hover{
    text-decoration: none !important;
    color: $dark-pink !important;
  }

  .banner-c{
    width: 50%;
    height: auto;
  }
