// Specific CSS for your home-page
@import url('http://allfont.de/allfont.css?fonts=sans-serif-shaded');

  a{
    text-decoration: none !important;
  }
    a:hover{
    text-decoration: none !important;
    color: $dark-pink !important;
  }

#home-font {
  font-family: 'Sans Serif Shaded', arial !important;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

#right-parrot {
  margin-left: 361px;
  img {
    height: 60%;
    width: 60%;
  }
}

#right-speech {
  width: 294px;
  position: relative;
  left: 322px;
  bottom: 253px;
}

#left-speech {
  width: 294px;
  margin-left: 7px;
  margin-bottom: 255px;
  position: relative;
}

.pink {
  color: #CC4481;
  text-transform: uppercase;
}

.blue {
  color: #165ECA;
  text-transform: uppercase;
}

#pointing {
  background-size: contain;
  color: white;
  padding: 11px;
  font-weight: bolder;
  text-shadow: 2px 1px black;
  position: absolute;
  right: 614px;
  bottom: 65px;

  &:hover{
    color: white;
  }
}

#dollar {
  height: 50p;
  position: absolute;
  bottom: -87px;
  left: 72px;

  img {
    width: 38px;
  }
}
