<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#requests" role="tab" aria-controls="profile" aria-selected="false">CANDY CRAVINGS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="home-tab" data-toggle="tab" href="#offers" role="tab" aria-controls="home" aria-selected="true">SWEET HERO</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade" id="offers" role="tabpanel" aria-labelledby="home-tab">
    <div class="flex-wrap-container">
      <%= render 'pages/shared/user_info' %>
      <%= render 'pages/shared/request_tab' %>
    </div>
  </div>

  <div class="tab-pane fade show active" id="requests" role="tabpanel" aria-labelledby="profile-tab">
    <div class="flex-wrap-container">
      <%= render 'pages/shared/user_info' %>
      <%= render 'pages/shared/offer_tab' %>
    </div>
  </div>
</div>
