.banner-landing {
  background-size: cover;
  background-position: center;
}

.banner-landing h1 {
  margin: 0;
  color: #FFD54D;
  text-shadow: 10px 10px 10px #fd1070;
  font-size: 79px;
  font-weight: bold;
}

.banner-landing p {
  color: #C7F0DB;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  margin-top: 26px;
}

.banner__money {
  margin-top: 80px;
  padding: 119px 0px 144px 0px;
  background-size: inherit;
  background-position: center;
  min-height: 100vh;
  min-width: 1024px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 5rem;
  color: red;
    flex-wrap: wrap;

  &-raised {

    h1 {
    font-family: 'Passion One', cursive;
    font-size: 150px;
    letter-spacing: 8px;
    color: #C7F0DB;
    font-weight: bold;
    text-shadow: 5px 11px 0px #49BEB7;
    }



  }

  &-number {

    display: flex;
    h1 {

    font-family: 'Passion One', cursive;
    font-size: 150px;
    color: #CC4480;
    font-weight: bold;
    background-color: #F5BCD6;
    width: 120px;
    text-align: center;
    margin: 0 6px;
    border-radius: 11px;
    }
    .comma {
      background-color: transparent;
      transform: translateY(50px);
      width: 70px;
    }
  }

}
