

// ################## PLEASE DON'T PUT MARGIN ON THOSE LITTLE GUYS. CREATE A NEW CLASS
// OR USE THE BOOTSTRAP MARGIN OPTION #########################################
.front-right-button {
    margin: 142px 0px 50px 123px;
    background-color: $yellow;
    border-radius: 6px;
    padding: 15px;
}

.front-left-button {
   margin: 142px 0px 50px 123px;
   background-color: $yellow;
   border-radius: 6px;
   padding: 15px;
}

.btn-info {
  text-align: center;
  padding: 12px;
  font-size: 22px;
  font-weight: bold;
  a {
    text-decoration: none;
    color: #4351C6;
  }
}

.btn-action {
  background: #FFC3BB;
  text-align: center;
  padding: 12px;
  font-size: 22px;
  font-weight: bold;
  border: 4px solid $pink;
  color: white;
  a {
    text-decoration: none;
    color: #4351C6;
  }
}

.btn-return {
  background: #FFD54D;
  text-align: center;
  padding: 12px;
  font-size: 22px;
  font-weight: bold;
  border: 4px solid $orange;
  color: black;
  a {
    text-decoration: none;
  }
}

.btn-small{
  width: 177px;
}

.btn-med{
  width: 177px;
}

.btn-large{
  width: 177px;
}
