.btn-info {
  background-color: green;
  text-align: center;
  color: green;
  padding: 12px;
  font-size: 22px;
  font-weight: bold;
   border: 5px solid pink;
  a {
    text-decoration: none;
    color: #4351C6;
  }
}

.btn-action {
  background: #FFC3BB;
  text-align: center;
  padding: 12px;
  font-size: 22px;
  font-weight: bold;
  border: 5px solid blue;
  a {
    text-decoration: none;
    color: #4351C6;
  }
}




.btn-small{
  width: 177px;
}

.btn-med{
  width: 177px;
}

.btn-large{
  width: 177px;
}
