.card-small{
  width: 150px
}

.card-med{
  width: 300px;
}
.card-large{
  width: 600px;
}

.card{
  padding:40px;
  background-color: $beige !important;
  margin-top: 20px;
  margin-bottom: 20px;
  &-light{
    border: 2px solid grey;
    width: 600px;
    margin: auto;
    // display: flex;
  }

    &-img{
    height: 422px;
    width: 445px;
  }

}

.card-landing {
  width: 220px;
  text-align: center;
  padding: 20px;
}

.card-sweet {
  width: 300px;
  background-color: white;
  margin: auto;

    img {
      background-size: cover;
      height: 300px;
      width: 300px;
    }
}

.card-detail-offer {
  padding: 40px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 40px 40px $pink-orange;
  border-radius: 8px

}

.card-offer-content {
  background: white;
  width: 600px;
  margin-right: 20px;
  height: auto;
}
