.card-small{
  width: 150px
}

.card-med{
  width: 300px;
}
.card-large{
  width: 600px;
}

// #################################### REQUEST SHOW #############################333
.card-request-show{
  display: grid;
  width: 800px;
  padding: 32px;
  margin-bottom: 32px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  background-color: white;
  grid-column-start: 5;
  grid-column-end: 12;
  grid-row-start: 1

}
  .row1-request{
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 1;
    img {
      height: 250px;
    }
  }
  .row2-request{
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
    margin-top: 16px;
  }

  .row3-request{
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 3
  }
  .row4-request{
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 4;
  }
  .card-border-bottom-show{
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    margin-bottom: 4px;
  }
  .card-request-user{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    background-color: $light-green;
    padding-top: 32px;

  }
  .row1-request-user{
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 1;
  }
  .row2-request-user{
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 2
  }
  .row3-request-user{
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 3
  }
  .row4-request-user{
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 4
  }
// #################################### REQUEST INDEX #############################333
.card{
  flex-direction: row;
  &-request{
    display: flex;
    height: 150px;
    width: 600px;
    margin: 0 auto;

    &-info {
      flex-grow:1;
    }

  }

    &-img{
    height: 422px;
    width: 445px;
  }

}
.card-request-info{
  flex: 1;
  display: flex;
  flex-direction:column;
  padding: 16px;

}

.card-request{
  overflow: hidden;
  box-shadow: 12px 12px $pink-orange;
  margin-bottom: 18px;
  color: black;
  border: none;
  background-color: $light-pink;
  p{
    font-size: 12px;
  }
  :hover{
    color: $red;
  }
}
.card-picture{
  height: 100%;
  width: 178px;
  object-fit: fill;
  padding: 8px;
}

.card-charity{
  i{
    color: red;
  }
 }

 .card-donation{
  display: flex;
  justify-content: space-between;
}

.card-price{
  display: flex;
  justify-content: space-between;
}

.card-total-column{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.card-border-bottom{
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  p {
    margin-bottom: 5px;
  }
}

.card-avatar{
  display:flex
}

.card-landing {
  width: 220px;
  text-align: center;
  padding: 20px;
}

.card-sweet {
  background-color: $light-pink;
  border-radius: 8px;
  box-shadow: 15px 15px $pink-orange;

    img {
      background-size: cover;
      height: 400px;
      width: 400px;
      padding: 20px;
    }

    .card-info {
      padding-right: 20px;
      padding-left: 20px;
    }
}

.card-detail-offer {
  padding: 40px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 40px 40px $pink-orange;
  border-radius: 8px

}

.card-offer-content {
  display: flex;
  background: white;
  width: 40%;
  margin: 20px 36px 20px 0px;
  height: auto;
  padding: 14px;
  border-radius: 8px;
  box-shadow: 15px 15px $pink;
}

.card-request-content {
  display: flex;
  background: white;
  width: 70%;
  margin: 20px 36px 20px 0px;
  height: auto;
  padding: 14px;
  border-radius: 8px;
  box-shadow: 15px 15px $pink-orange;
}

