.flex-container-landing{
  display: flex;
  justify-content: space-between;
}

.container-sweet{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    justify-items: center;
    align-items: center;

  & > div {
    width: 400px;
    margin: 2rem 0;
  }
}

.container-box {
  width: 1000px;
  margin: auto;

  h2 {
    text-align: center;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
}
}

.form-container{
  width: 600px;
  margin: auto;
  box-shadow: 40px 40px $pink-orange;
  background-color: $light-pink;
  padding: 20px;
  border-radius: 8px
}

.container-offer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;

  .container-content {
      flex-grow: 1;
      padding: 0 24px;

  }
}

.container-detail {
  width: 800px;
  margin: auto;
}

 .container-top{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
 }

 .main-container{
  display: flex;
  justify-content: center;
 }
 .request-container{
  flex-grow: 1;
 }
.container-map{
  height: 100vh;
  width: 40%;
  margin-left: 40px;
  position: sticky;
  top: 0;
}

// ############################## CONTAINER FOR REQUEST SHOW #########################

.container-show-request{
  display: grid;
  width: 1140px;
  margin: auto;
  grid-column-gap: 24px;
  font-size: 20px;
}

