.flex-container-landing{
  display: flex;
  justify-content: space-between;
}

.container-sweet{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    justify-items: center;
    align-items: center;

  & > div {
    width: 400px;
    margin: 2rem 0;
  }
}

.container-box {
  width: 1000px;
  margin: auto;

  h2 {
    text-align: center;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
}
}

.form-container{
  width: 600px;
  margin: auto;
  box-shadow: 40px 40px $pink-orange;
  background-color: $light-pink;
  padding: 20px;
  border-radius: 8px
}
.request-form-container{
  width: 880px;
  height: 600px;
  margin: auto;
  box-shadow: 40px 40px $pink-orange;
  background-color: $light-pink;
  padding: 20px;
  border-radius: 8px
}

#sweet-image-container{
  height:160px;
  max-width: 200px;
  border-radius: 16px;
}

.container-offer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;

  .container-content {
      flex-grow: 1;
      padding: 0 24px;

  }
}

.container-detail {
  width: 800px;
  margin: auto;
}

 .container-top{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
 }

 .main-container{
  display: flex;
  justify-content: center;
 }
 .request-container{
  flex-grow: 1;
 }
.container-map{
  height: 100vh;
  width: 40%;
  margin-left: 40px;
  position: sticky;
  top: 144px;;
}

// ############################## CONTAINER FOR REQUEST SHOW #########################

.container-show-request{
  width: 1140px;
  margin: auto;
  font-size: 20px;

}

.sticky-search{
  position: sticky;
  top: 0;
  background: $beige;
  z-index: 5;
  height: 180px;

  h1 {
    font-family: 'Passion One', cursive;
    font-size: 75px;
    letter-spacing: 2px;
    color: #C7F0DB;
    font-weight: bold;
    text-shadow: 5px 9px 0px #49BEB7;
  }

  .search_bar {
    padding-top: 12px;
  }
}

#map {
  border-radius: 50%;
  margin-top: 40px;
}
