.no-display{
  display: none;
}

.form-charity-label{
  :hover{
    border: 1px solid $red;
    box-shadow: 5px 5px $pink-orange;
    cursor: pointer;
  }
  &.active{
    border: 2px solid yellow;
    box-shadow: 5px 5px $pink-orange;
  }
}

.round-form{
  border-radius: 4px;
  background-color: #fbcfe0;
  border-bottom: 3px solid #FE83B7;
  border-top: none;
  border-right: none;
  font-style: italic;
  border-left: none;
  margin-bottom: 1.5rem;
}
.img-charity{
  max-width: 150px;
  max-height: 150px;
}
.fit-img{
  img{
  width: 100%;
  height: 100%;
  }
}
.form-label-donation{
 background: #FFD54D94;
  padding: 20px;
  width: 20%;
  border-radius: 8px;
  // opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  color: $red;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $yellow;
  color: white;
  opacity: 1;
  }
}

#request_description {
  background-color: #fbcfe0;
  border-bottom: 3px solid #FE83B7;
  border-top: none;
  border-right: none;
  font-style: italic;
  border-left: none;
}
