.header-thick {
  font-family: 'Passion One', cursive;
  font-size: 66px;
  letter-spacing: 2px;
  color: #FE7661;
  font-weight: bold;
  text-shadow: 5px 9px 0px #FFD54D;
}


.text-center {
  h1 {
    font-family: 'Passion One', cursive;
    font-size: 66px;
    letter-spacing: 2px;
    color: #FE7661;
    font-weight: bold;
    text-shadow: 5px 9px 0px #FFD54D;
    margin-bottom: 40px;
  }
}
