.navbar-lewagon {
  justify-content: space-between;
  background: #c7f0db52;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 220px;
  margin-left: 48px;
}
