.navbar-lewagon {
  justify-content: space-around;
  align-items: center;
  background: #c7f0db52;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 220px;
}
